{% extends "base.html"%}
        {% block title %}
            Направление на МСЭ - редактирование
        {% endblock title %}

{% block body %}
<form method="post" novalidate>

    {{form.hidden_tag()}}

   <br><br>

        <div class="row">
         {{ form.service_date.label }}
            <br><br>
        {{ form.service_date(type="date", class="form-control")}}
        {% for error in form.errors.service_date %}
                <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

        </div>


    <br>


        <div class="row">
            {{ form.doctor_code.label }}
            {{ form.doctor_code(type="text", class="form-control")}}
            {% for error in form.errors.doctor_code %}
                    <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
      </div>

    <br>

        <div class="row">
            {{ form.disease.label }}
            {{ form.disease(type="text", class="form-control")}}
            {% for error in form.errors.disease %}
                    <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </div>

    <br>
        <div class="row">
            {{ form.service_ref.label }}
            {{ form.service_ref(class="form-control") }}
            <br>
        </div>


    <br>
    <br>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>


{% endblock body %}