{% extends "base.html"%}
        {% block title %}
            Направление на МСЭ - редактирование
        {% endblock title %}

{% block body %}
<form method="post" novalidate>

    {{form.hidden_tag()}}

   <br><br>

    <div class="row">
        <div class="col-3">
          <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.bureau_id.label.text }}</div>
                </div>
                    {{ form.bureau_id(type="text", class="form-control")}}
                    {% for error in form.errors.bureau_id %}
                            <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
          </div>

         </div>

        <div class="col">
            {{ form.bureau_label(type="text", class="form-control", readonly=true) }}

        </div>



      </div>


   <br><br>



    <div class="row">
        <div class="col">
            <div class="form-check">
                {{ form.is_first_direction(type="checkbox", class="form-check-input")}}
                {{ form.is_first_direction.label(class="form-check-label") }}
            </div>
                    {% for error in form.errors.is_first_direction %}
                            <span style="color: red;">[{{error}}]{{form.is_first_direction.data}}</span>
                    {% endfor %}
      </div>
    </div>
    <br><br>


    <div class="row">
        <div class="col-4">
            <div class="form-check">
                {{ form.is_disability_no_set(type="checkbox", class="form-check-input")}}
                {{ form.is_disability_no_set.label(class="form-check-label") }}
            </div>
        </div>

        <div class="col-3">
            <div class="form-check">
                {{ form.is_set_indefinitely(type="checkbox", class="form-check-input")}}
                {{ form.is_set_indefinitely.label(class="form-check-label") }}
            </div>
        </div>

        <div class="col">
         {{ form.next_date.label }}
            <br><br>
        {{ form.next_date(type="date", class="form-control")}}
        {% for error in form.errors.next_date %}
                <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

        </div>

        <div class="col">
            <div class="form-check">
                {{ form.degree_disability.label }}
                {{ form.degree_disability(type="number", class="form-control")}}
            </div>
                    {% for error in form.errors.degree_disability %}
                            <span style="color: red;">[{{error}}]{{form.degree_disability.data}}</span>
                    {% endfor %}
      </div>


    </div>

    <br>
    <div class="row">
        <div class="col-3">
          <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.disability_group_id.label.text }}</div>
                </div>

                    {{ form.disability_group_id(type="text", class="form-control")}}
                    {% for error in form.errors.disability_group_id %}
                            <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
          </div>
        </div>

        <div class="col">
            {{ form.disability_group_label(type="text", class="form-control", readonly=true) }}

      </div>




    </div>

    <br><br>

    <div class="row">
        <div class="col">
            <div class="form-check">
                {{ form.degree_disability.label }}
                {{ form.degree_disability(type="number", class="form-control")}}
            </div>
                    {% for error in form.errors.degree_disability %}
                            <span style="color: red;">[{{error}}]{{form.degree_disability.data}}</span>
                    {% endfor %}
      </div>
    </div>
    <br><br>


    <div class="row">
        <div class="col">
            {{ form.mse_disease.label }}
            {{ form.mse_disease(type="text", class="form-control")}}
            {% for error in form.errors.mse_disease %}
                    <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </div>
        <div class="col">
            {{ form.doctor_code.label }}
            {{ form.doctor_code(type="text", class="form-control")}}
            {% for error in form.errors.doctor_code %}
                    <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
      </div>
        <div class="col">
         {{ form.expert_date.label }}
        {{ form.expert_date(type="date", class="form-control")}}
        {% for error in form.errors.expert_date %}
                <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>

        </div>
    </div>


 <div class="form-group">

     {{ form.mse_comment.label }}
     {{ form.mse_comment(class="form-control", rows="10") }}
    {% for error in form.errors.mse_comment %}
            <span style="color: red;">[{{error}}]</span>
    {% endfor %}<br>
  </div>



    <button type="submit" class="btn btn-primary">Сохранить</button>
<a href="{{url_for('mse_referral_close')}}" class="btn btn-secondary" >Отмена</a>
</form>



{% endblock body %}
