{% extends "base.html"%}
        {% block title %}
            Направление на МСЭ - редактирование
        {% endblock title %}

{% block body %}
<form method="post" novalidate>

    {{form.hidden_tag()}}

    <div class="row">
        <div class="col">
            {{ form.doctor_code.label }}
            {{ form.doctor_code(type="text", class="form-control")}}
            {% for error in form.errors.doctor_code %}
                    <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
      </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form.mse_disease.label }}
            {{ form.mse_disease(type="text", class="form-control")}}
            {% for error in form.errors.mse_disease %}
                    <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Сохранить</button>
<a href="{{url_for('mse_referral_close')}}" class="btn btn-secondary" >Отмена</a>
</form>



{% endblock body %}
