<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}" >
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('index')}}">Главная</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
    </ul>
    {% if current_user.is_anonymous %}
    {% else %}
    <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
    {% endif %}
    <h3>{{ current_user.user_name }}</h3>
  </div>
</nav>

{% block data %}
{% endblock data %}


<div class="container">
{% block body %}
{% endblock body %}
   </div>
{% block row %}
{% endblock row %}


<div class="container">
<nav>
{% block body2 %}
{% endblock body2 %}
   </nav>
   </div>
</body>
</html>