<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='jquery-latest.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='dat.js')}}"></script>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('index')}}">Главная</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block nav_patients %}{% endblock nav_patients %}">
        <a class="nav-link" href="{{url_for('patients_list')}}">Пациенты</a>
      </li>


    <li class="nav-item dropdown {% block nav_documents %}{% endblock nav_documents %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDocuments" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Документы
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('defect_list')}}">Дефекты экспертизы СМО</a>
          <a class="dropdown-item" href="{{url_for('mse_referral_list')}}">Направление на МСЭ</a>
          <a class="dropdown-item" href="{{url_for('med_service_list')}}">Мед. услуги</a>
        </div>
      </li>

    <li class="nav-item dropdown {% block nav_reports %}{% endblock nav_reports %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarReports" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Отчеты
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('report_smo_expert_defects')}}">Дефекты экспертизы СМО</a>
          <a class="dropdown-item" href="{{url_for('report_mse_referral')}}">Выход на инвалидность</a>
          <a class="dropdown-item" href="{{url_for('report_eln')}}">Электронный больничный</a>
          <a class="dropdown-item" href="{{url_for('report_case')}}">Законченные случаи</a>



        </div>
      </li>

    <li class="nav-item dropdown {% block nav_refs %}{% endblock nav_refs %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarRefs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Справочники
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('doctor_list')}}">Врачи</a>
          <a class="dropdown-item" href="{{url_for('mkb10_list')}}">Диагнозы</a>
        </div>
      </li>


    </ul>






    </ul>



    {% if current_user.is_anonymous %}
    {% else %}
    <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
    {% endif %}
    <h3>{{ current_user.user_name }}</h3>
  </div>
</nav>

{% block data %}
{% endblock data %}


<div class="container">
{% block body %}
{% endblock body %}
   </div>
{% block row %}
{% endblock row %}


<div class="container">
<nav>
{% block body2 %}
{% endblock body2 %}
   </nav>
   </div>
</body>
</html>

<script>
var availableTags1 = $.getJSON( '/_autocomplete', function() {
  console.log( "success" );
});

var availableTags2
availableTags2 = availableTags1.responseText

    function split(val){
      return val.split( /,\s*/ );
    }
    function extractLast(term){
      return split(term).pop();
    }

$(function() {
        $.ajax({
            url: '{{ url_for("autocomplete_defect_types") }}'
            }).done(function (data){
    $("#DefectCodesInput")
    // остановить смену фокуса, если выделен один из элементов автозаполнения
    .bind( "keydown", function(event){
      if ( event.keyCode === $.ui.keyCode.TAB &&
      $(this).data("autocomplete").menu.active ){
        event.preventDefault();
      }
    })
    .autocomplete({
      minLength: 2,
      source: function(request, response){
        // делегируем поиск элементов автозаполнения обратно плагину, предварительно убрав уже выбранные элементы
        response( $.ui.autocomplete.filter(
        data, extractLast(request.term)) );
      },
      focus: function(){
        // отменяем вставку значения на получение фокуса
        return false;
      },
      select: function(event, ui){
        var terms = split(this.value);
        // удаляем вводимую часть текста и помещаем вместо нее выбранный элемент
        terms.pop();
        terms.push(ui.item.value);
        // собираем все элементы в строку, разделяя их запятыми и вставляем
        // строку обратно в текстовое поле
        terms.push("");
        this.value = terms.join(", ");
        return false;
      }
    });
            });
        });



$(function() {
        $.ajax({
            url: '{{ url_for("autocomplete_bureau_id") }}'
            }).done(function (data){
                $('#bureau_id').autocomplete({
                    source: data,
                    minLength: 1,
                      select: function(event, ui){
                                $("#bureau_label").val(ui.item.label);
                      }
                });
            });
        });


$(function() {
        $.ajax({
            url: '{{ url_for("autocomplete_disability_group_id") }}'
            }).done(function (data){
                $('#disability_group_id').autocomplete({
                    source: data,
                    minLength: 1,
                      select: function(event, ui){
                                $("#disability_group_label").val(ui.item.label);
                      }


                },

                );
            });
        });


$(function() {
        $.ajax({
            url: '{{ url_for("autocomplete_doctors") }}'
            }).done(function (data){
                $('#DoctorInput').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });



var mapKey = {
  'Й' : 'Q',  'Ц': 'W', 'У': 'E', 'Q': 'Q', 'К': 'R' , 'Е': 'T'  , 'Н': 'Y'  ,  'Г': 'U' , 'Ш': 'I'  , 'Щ': 'O'  ,
  'З': 'P'  , 'Ф': 'A' ,  'Ы': 'S' , 'В': 'D'  , 'А': 'F'  , 'П': 'G'  , 'Р': 'H'  ,  'О': 'J' , 'Л': 'K'  ,  'Д': 'L' ,
  'Я': 'Z' , 'Ч': 'X'  ,  'С': 'C' , 'М' : 'V' ,  'И': 'B' , 'Т': 'N'  , 'Ь': 'M'  , 'Б': '.'  , 'Ю': '.'  ,};


<!--};-->

$("#disease_code").on('keyup', function () {
var str = $("#disease_code").val();
var r = '';
for (var i = 0; i < str.length; i++) {
if(mapKey[str.charAt(i).toUpperCase()] || str.charAt(i).match(/^[a-zA-Z0-9.]+$/)){
ch = mapKey[str.charAt(i).toUpperCase()] || str.charAt(i);
r += ch.toUpperCase();
}
//ch = mapKey[str.charAt(i)] || str.charAt(i);
//r += ch.toUpperCase();
}
//$("#disease_code").val(r).trigger('keydown');
//Тригерр, если это поле ввода для другого плагина, например autocomplete
$("#disease_code").val(r);
});



</script>