{% extends "base.html"%}
{% import "_pagination.html" as macros %}
        {% block title %}
            Список врачей
        {% endblock title %}

{% block body %}
 <form style="inline" method="post" name="search">
    {{form.hidden_tag()}}
    {{ form.search(size=20) }}
    <button type="submit" class="btn btn-primary">Найти</button>
   {% if current_filter%}
  <a href="{{url_for('doctor_list', doctorid=0)}}" class="btn btn-secondary" >Показать все</a>
   {{current_filter}}
   {% endif %}
  </form>


{% endblock body %}
{% block row %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Код</th>
      <th scope="col">ФИО</th>
      <th scope="col">Отделение</th>
    </tr>
  </thead>
  <tbody>

    {% for doctor in doctors%}

    <tr>
      <td>{{doctor.doctor_stat_code}}</td>
      <td>{{doctor.doctor_name}}</td>
      <td>{{doctor.otdel}}</td>
    </tr>
    {% endfor%}


  </tbody>
</table>



{% endblock row %}


{% block body2 %}
<div class="pagination">
{{ macros.pagination_widget(pagination, '.doctor_list') }}
</div>
{% endblock %}
