{% extends "base.html"%}
        {% block title %}
            Главная страница
        {% endblock title %}

{% block body %}
    <div class="alert alert-dark" role="alert">
        <a href="{{url_for('defect_list')}} "class="alert-link">Список дефектов</a>
    </div>
    <div class="alert alert-dark" role="alert">
        <a href="{{url_for('patients_list')}} "class="alert-link">Пациенты</a>
    </div>
    <div class="alert alert-dark" role="alert">
        <a href="{{url_for('doctor_list')}} " class="alert-link">Список врачей</a>
    </div>
    <div class="alert alert-dark" role="alert">
        <a href="{{url_for('mkb10_list')}} " class="alert-link">МКБ10</a>
    </div>
    <div class="alert alert-dark" role="alert">
        <a href="#" class="alert-link">Отчеты</a>
    </div>

{% endblock body %}
