{% extends "base.html"%}
        {% block title %}
            Главная страница
        {% endblock title %}

{% block body %}
    <form action="" method="post" novalidate >
        {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 font-weight-normal">Проверить полис</h1>
        <div class="form-group">
            {{ form.enp.label() }}
            {{ form.enp(type="text", size=32, class="form-control")}}
            {% for error in form.errors.enp %}
                    <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>

 </div>
 <button type="submit" class="btn btn-primary">Проверить</button>


    </form>
{% endblock body %}
