{% extends "base.html"%}
        {% block title %}
            Добавление пациента
        {% endblock title %}

{% block body %}
<form method="post" novalidate>

    {{form.hidden_tag()}}
 <div class="form-group">

    <div class="row">
        <div class="col">
            {{ form.fam.label }}
            {{ form.fam(type="text", class="form-control")}}
            {% for error in form.errors.fam %}
                    <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>

            {{ form.im.label }}
            {{ form.im(type="text", class="form-control")}}
            {% for error in form.errors.im %}
                    <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>

            {{ form.ot.label }}
            {{ form.ot(type="text", class="form-control")}}
            {% for error in form.errors.ot %}
                    <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>

            {{ form.birthday.label }}
            {{ form.birthday(type="date", class="form-control")}}
            {% for error in form.errors.birthday %}
                    <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>

        </div>
    </div>
 </div>
    <div class="row">
      <button type="submit" class="btn btn-primary">Найти в МИС</button>
    </div>
</form>
  {% endblock body %}

{% block row %}
{%if patients is defined and patients|length  %}
<br/><br/>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Номер карты</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
      <th scope="col">Дата рождения</th>
    </tr>
  </thead>
  <tbody>

    {% for patient in patients %}

    <tr>
      <td><a href="{{url_for('patient_save_from_mis', mkabid=patient.mkabid)}}">Добавить</a></td>
      <td>{{patient.num}}</td>
      <td>{{patient.family}}</td>
      <td>{{patient.name}}</td>
      <td>{{patient.ot}}</td>
      <td>{{patient.date_bd|formatdate}}</td>
    </tr>
    {% endfor%}


  </tbody>
</table>






{% endif %}
{% endblock row %}




