{% extends "base.html"%}
        {% block title %}
            Пациент
        {% endblock title %}

{% block body %}
<form method="post" novalidate>

    {{form.hidden_tag()}}
 <div class="form-group">

    <div class="row">
        <div class="col">
            {{ form.fam.label }}
            {{ form.fam(type="text", class="form-control", readonly=true)}}

            {{ form.im.label }}
            {{ form.im(type="text", class="form-control", readonly=true)}}

            {{ form.ot.label }}
            {{ form.ot(type="text", class="form-control", readonly=true)}}

            {{ form.birthday.label }}
            {{ form.birthday(type="date", class="form-control", readonly=true)}}

            {{ form.num.label }}
            {{ form.num(type="text", class="form-control", readonly=true)}}

        </div>
    </div>
 </div>
        <a href="{{url_for('defect_edit', defectid=0)}}" class="btn btn-primary" >Дефект СМО</a>
        <a href="{{url_for('mse_referral_edit', mse_id=0)}}" class="btn btn-primary" >Направление на МСЭ</a>
        <a href="{{url_for('med_service_edit', service_id=0)}}" class="btn btn-primary" >Услуги</a>
        <a href="{{url_for('patients_list')}}" class="btn btn-secondary" >Закрыть</a>
</form>


  {% endblock  %}



{% block row %}
<br/><br/>

<div class="row">

<div class="col">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Вид записи</th>
      <th scope="col">Дата</th>
      <th scope="col">Врач</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    {% for document in document_list%}
    <tr>
      {% if document.type == 1%}
          <td><a href="{{url_for('defect_edit', defectid=document.id)}}">Изменить</a></td>
      {% endif %}
      {% if document.type == 2%}
          <td><a href="{{url_for('mse_referral_edit', mse_id=document.id)}}">Изменить</a></td>
      {% endif %}
      {% if document.type == 3%}
          <td><a href="{{url_for('med_service_edit', service_id=document.id)}}">Изменить</a></td>
      {% endif %}
      <td>{{document.typename}}</a></td>
      <td>{{document.date|formatdate}}</td>
      <td>{{document.doctor}}</td>
      {% if document.type == 1%}
          <td><a href="{{url_for('defect_delete', defectid=document.id)}}">Удалить</a></td>
      {% endif %}
      {% if document.type == 2%}
          <td><a href="{{url_for('mse_referral_delete', mse_id=document.id)}}">Удалить</a></td>
      {% endif %}
    </tr>
    {% endfor%}


  </tbody>
</table>

</div>


{% endblock row %}






